<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Way</title>
    <link rel = "icon" type = "image/svg+xml" href = "/favicon.svg"/>
    <link rel = "stylesheet" href = "static/sty.css">
    <link rel="stylesheet" href="static/clir.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class = "navbar">
        <img src="static/Photos App Icon.jpg" alt="AIway" id = "image">
        <span id = "title">AI Way</span>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('tell') }}">About</a></li>
                <li><a href="{{ url_for('acc') }}">Login</a></li>
            </ul>
        </nav>
    </div>
    <div class="card">
        <div class="upload-form">
            <form action="http://127.0.0.1:5000/upload" method="POST" id="myForm" enctype="multipart/form-data">
                <label for="pdf-upload" class="upload-button" id="button">Upload PDF</label><br>
                <input type="file" name="pdf" id="pdf-upload" accept=".pdf"><br>
                <input type="text" name="search" id="search" placeholder="Type Question Here"><br>
                <div id="suggestions" onClick="appendToSearchBox()"></div>
                <button type="submit" id="openpop" class="submit-button">Submit</button>
            </form>
        </div>
    </div>
    <div class="pop" id="pop">
        <div class="overlay"></div>
        <div class="cont">
            <h2>Topics Covered</h2>
            <div id = "topics">
                <button class = "submit-btn" id = 'o1'>International</button> 
                <button class = "submit-btn" id = 'o2'>Security</button>
                <button class = "submit-btn" id = 'o3'>Global</button>
                <button class = "submit-btn" id = 'o4'>Nation</button>
            </div>
            <h2>Answer:</h2>
            <div class="ans">{{ answer_content }}</div> 
            <div class = "controls">
                <button class = "close-btn">Close</button>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <p>&copy; 2024 AI Way. All rights reserved.</p>
    </div>
    <script src = "static/ja.js"></script>
</body>
</html>
