<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Way</title>
    <link rel="stylesheet" href="static/sty.css">
</head>
<body>
    <div class="bdy">
    <div class = "navbar">
        <img src="static/Photos App Icon.jpg" alt="AIway" id = "image">
        <span id="title">AI Way</span>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}"> Home</a></li>
                <li><a href="{{ url_for('tell') }}">About</a></li>
                <li><a href="{{ url_for('acc') }}">Login</a></li>
            </ul>
        </nav>
    </div>
    
    <div >
        <form action="" class="wrapper">
            <h1 style = "color: rgba(6, 84, 84, 0.811); text-decoration: underline;" >Login</h1>
            <div class="input-box">
                <input type="text" placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" required>
            </div>
            <div class="remeber-forgot">
                <label for=""> <input type="checkbox" style = "color: azure;"><span style="color: rgba(6, 84, 84, 0.811); padding-right: 10px;">Remeber Me</span></label>
                <a href="#" class = "hi">Forget Password?</a>
            </div>
            <button type="submit" class = "btn">Login</button>

            <div class="register-link">
                <p style = "color: azure;">Don't have an account?
                    <a href="#" class = "hi">Register</a>
                </p>
            </div>
        </form>
    </div>
    <div class="footer-content">
        <p>&copy; 2024 AI Way. All rights reserved.</p>
    </div>
</div>
</body>
</html>
